.button {
  border: none;
  background-color: transparent;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  &--auth {
    background-color: #ff9f43;
    padding: 0.75rem;
    width: 100%;
    color: #fff;
    transition: color 0.25s, box-shadow 0.25s;
    border-radius: 0.25rem;
    &:hover {
      color: #ff9f43;
      box-shadow: 0 3.125rem #fff inset, 0 0 0 0.0625rem #ff9f43;
    }
  }
  &--magic-link {
    box-shadow: 0 0 0 0.0625rem rgba(145, 158, 171, 0.23);
    border-radius: 0.313rem;
    color: #212b36;
    padding: 1rem 0.75rem;
    font-weight: 500;
    flex: 1;
    @include flex-fd-jc-ai-g(row, center, center, 0.35rem);
    transition: color 0.25s, background-color 0.25s;
    &:hover {
      color: #fff;
      background-color: #ff9f43;
    }
  }
  &--icon-eye {
    @include flex-fd-jc-ai-g(row, center, center);
    padding: 0;
    cursor: pointer;
    border: none;
    background: transparent;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      transform: rotate(329deg);
      height: 0rem;
      background: #2c3333;
      transition: height 0.25s;
      width: calc(0.0625rem * 1.5);
      border-radius: 0.5rem;
    }
    &--close {
      &::before {
        height: 1rem;
      }
    }
  }
}
