@import "modules/mixins";

:root {
  scroll-behavior: smooth;
}

.body {
  font-family: "Nunito Sans", sans-serif;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  @include flex-fd-jc-ai-g(column);
}
